.navbar{
    @extend .container;
    &.top-nav {
        display: flex;
        flex-direction: row-reverse;
        padding: 12px 0;
        ul{
            display: flex;
            flex-direction: row;
            margin-bottom: 0;
            padding-left: 0;
            li {
                display: block;
                margin-left: 20px;
                &:first-child{
                    margin-left: 0;
                }
                a {
                    color: #000;
                    display: inline-block;
                    text-decoration: none;
                    &:hover, &:focus {
                        text-decoration: underline;
                    }
                    span {
                        @include roboto(500);
                        @include font-size(11);
                    }
                }
            }
        }
    }
}
header{
    &.main-header{
        background-color: $backgraund-cyan;
        padding: 10px 0;
        .header-container{
            @extend .container;
            display: flex;
            justify-content: space-between;
            align-items: center; 
            .nav-list {
                display: flex;
                list-style: none; 
                margin: 0;
                padding: 0; 
            }
        }
    }
}
