
%responsiveColToRow{
    @include media-breakpoint-down(lg) { 
        flex-direction: column !important;
    }
}

.navbar{
    @extend .container;
    &.top-nav {
        display: flex;
        flex-direction: row-reverse;
        padding: 12px 0;
        ul{
            display: flex;
            flex-direction: row;
            margin-bottom: 0;
            padding-left: 0;
            li {
                display: block;
                margin-left: 20px;
                &:first-child{
                    margin-left: 0;
                }
                a {
                    color: #000;
                    display: inline-block;
                    text-decoration: none;
                    &:hover, &:focus {
                        text-decoration: underline;
                    }
                    span {
                        @include roboto(500);
                        @include font-size(11);
                    }
                }
            }
        }
    }
}
header{
    &.main-header{
        background-color: $backgraund-cyan;
        padding: 10px 0;
        .header-container{
            @extend .container;
            display: flex;
            justify-content: space-between;
            align-items: center; 
            .nav-list {
                display: flex;
                list-style: none; 
                margin: 0;
                padding: 0; 
            }
        }
    }
}
#jumbotron{
    background-color: $background-dark;
    color: white;
    .splide__slide {
        background-position: 50px 100px;
        background-size: 910px 528px;
        background-repeat: no-repeat;
        img {
            display: none;
        }
        .splide_container {
            align-content: flex-end;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            padding-right: 100px;
            h3 {
                @include roboto(900);
                @include font-size(52);
                max-width: 570px;
                text-align: right;
            }
            p {
                @include roboto(200);
                @include font-size(14);
                text-align: right;
                width: 426px;
            }
            a {
                color: white;
                @include roboto(200);
                @include font-size(14);
                font-style: italic;
                text-decoration: none;
                i {
                    font-size: 22px;
                    margin-left: 10px;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
    .splide__pagination {
        li {
            .splide__pagination__page {
                background-color: $lighten-grey-2;
                height: 12px;
                transition: all linear .25s;
                width: 12px;
                &.is-active{
                    background-color: $backgraund-cyan;
                    height: 20px;
                    transform: none;
                    width: 20px;
                }
            }
        }
    }
}
div.splide.splide__mobile {
    &.is-initialized:not(.is-active){
        .splide__list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        } 
    }
    .splide__pagination__page{
        background-color: $lighten-grey-9;
        &.is-active {
            background-color: $backgraund-cyan;
        }
    }
    &.splide__home--counter{
      figure {
        max-width: 270px;
        figcaption {
          @include roboto(300);
          @include font-size(16);
          margin-top: 10px;
          text-align: center;
        }
      }
    }
}

table.charts-css.pie {
  width: 170px;
  max-width: 170px;
  margin: 1px auto;
  position: relative;
  tr {
    &:first-child {
      height: 100%;
      width: 100%;
      th {
        align-items: center;
        background-color: white;
        border-radius: 50%;
        clip: initial;
        clip-path: none;
        display: flex;
        height: calc(100% - 20px);
        justify-content: center;
        position: relative;
        overflow: visible;
        width: calc(100% - 20px);
        left: 11px;
        top: 10px;
        z-index: 1;
        span {
          @include roboto(700);
          @include font-size(40);
          color: $lighten-black-5;
        }
      }
    }
  }
}

.box {
    &_content {
        display: flex;
        &--rtl {
            @extend %responsiveColToRow;
            flex-direction: row-reverse;

        }
        &--ltr {
            @extend %responsiveColToRow;
            flex-direction: row;

        }
        &--img {
            @extend .liquifyImage;
        }
    }
}
.liquifyImage {
    @include media-breakpoint-up(sm) { 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    @include media-breakpoint-up(md) { 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    @include media-breakpoint-up(lg) { 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}
