
%responsiveColToRow{
    @include media-breakpoint-down(lg) { 
        flex-direction: column !important;
    }
}
.container + * {
    margin-top: 80px;
    padding-top: 70px;
}
.container--gray {
    background-color: $lighten-grey-12;
}
.navbar{
    @extend .container;
    &.top-nav {
        display: flex;
        flex-direction: row-reverse;
        padding: 12px 0;
        ul{
            display: flex;
            flex-direction: row;
            margin-bottom: 0;
            padding-left: 0;
            li {
                display: block;
                margin-left: 20px;
                &:first-child{
                    margin-left: 0;
                }
                a {
                    color: #000;
                    display: inline-block;
                    text-decoration: none;
                    &:hover, &:focus {
                        text-decoration: underline;
                    }
                    span {
                        @include roboto(500);
                        @include font-size(11);
                    }
                }
            }
        }
    }
}
header{
    &.main-header{
        background-color: $backgraund-cyan;
        padding: 10px 0;
        .header-container{
            @extend .container;
            display: flex;
            justify-content: space-between;
            align-items: center; 
            .nav-list {
                display: flex;
                list-style: none; 
                margin: 0;
                padding: 0; 
            }
        }
    }
}
#jumbotron{
    background-color: $background-dark;
    color: white;
    .splide__slide {
        img {
            display: none;
        }
        .splide_container {
            align-content: flex-end;
            background-position: 50px 100px;
            background-repeat: no-repeat;
            background-size: 910px 528px;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            padding-right: 100px;
            h3 {
                @include roboto(900);
                @include font-size(52);
                max-width: 570px;
                text-align: right;
            }
            p {
                @include roboto(200);
                @include font-size(14);
                text-align: right;
                width: 426px;
            }
            a {
                color: white;
                @include roboto(200);
                @include font-size(14);
                font-style: italic;
                text-decoration: none;
                i {
                    font-size: 22px;
                    margin-left: 10px;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
    .splide__pagination {
        li {
            .splide__pagination__page {
                background-color: $lighten-grey-2;
                height: 12px;
                transition: all linear .25s;
                width: 12px;
                &.is-active{
                    background-color: $backgraund-cyan;
                    height: 20px;
                    transform: none;
                    width: 20px;
                }
            }
        }
    }
}
div.splide.splide__mobile {
    &.is-initialized:not(.is-active){
        .splide__list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        } 
    }
    .splide__pagination__page{
        background-color: $lighten-grey-9;
        &.is-active {
            background-color: $backgraund-cyan;
        }
    }
    &.splide__home--counter{
      figure {
        max-width: 270px;
        figcaption {
          @include roboto(300);
          @include font-size(16);
          margin-top: 10px;
          text-align: center;
        }
      }
    }
}

table.charts-css.pie {
  width: 170px;
  max-width: 170px;
  margin: 1px auto;
  position: relative;
  tr {
    &:first-child {
      height: 100%;
      width: 100%;
      th {
        align-items: center;
        background-color: white;
        border-radius: 50%;
        clip: initial;
        clip-path: none;
        display: flex;
        height: calc(100% - 20px);
        justify-content: center;
        position: relative;
        overflow: visible;
        width: calc(100% - 20px);
        left: 11px;
        top: 10px;
        z-index: 1;
        span {
          @include roboto(700);
          @include font-size(40);
          color: $lighten-black-5;
        }
      }
    }
  }
}

.box {
    &_content {
        display: flex;
        justify-content: space-evenly;
        &--rtl {
            @extend %responsiveColToRow;
            flex-direction: row;
            .box_content--body{
                @include media-breakpoint-up(lg) { 
                    padding-left: 30px
                }
            }

        }
        &--ltr {
            @extend %responsiveColToRow;
            flex-direction: row-reverse;
            .box_content--body{
                @include media-breakpoint-up(lg) { 
                    padding-right: 30px
                }
            }

        }
        &--img {
            @extend .liquifyImage;
            border-radius: 7px;
            box-shadow: 4px 6px 6px rgba(0,0,0,0.35);
        }
        &--body {
            @include media-breakpoint-up(lg) { 
                max-width: calc(50%);
            }
            &>h3 {
                @include roboto(500);
                @include font-size(30);
            }
            & > strong {
                @include roboto(500);
                @include font-size(18);
            }
            p {
                @include font-size(16);
                color: $lighten-grey-3;
            }
            span {
                color: $lighten-black-10;
                @include font-size(18, true);
            }
        }
        &--col {
            flex-direction: column;
            margin-bottom: 5px;
            img {
                border-radius: 7px;
                margin-bottom: 15px;
            }
        }
    }
    &:not(:first-child) {
        margin-top: 60px;
    }
    &__masonry {
        display: flex;
        flex-flow: column wrap;
        @include media-breakpoint-up(lg) { 
            height: 1500px;
        }
        > * {
            padding: 0 7px;
            @include media-breakpoint-up(lg) {
                width: 33%;
            }
        }
    }
    &--event {
        position: relative;
    }
}
.liquifyImage {
    @include media-breakpoint-up(sm) { 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}
.link{
    &__solid {
        color: #000;
        @include roboto(400);
        @include font-size(16);
        text-decoration: underline;
    }
    &__dropdown{
        &--centered {
            align-items: center;
            display: flex;
            margin-left: 12px;
        }
    }
    &--more {
        color: $lighten-black-10;
        @include roboto(500);
        @include font-size(14);
        font-style: italic;
        text-decoration: none;
        i {
            font-size: 22px;
            margin-left: 10px;
            position: relative;
            top: 2px;
        }
    }
    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        &--rrss {
            flex-direction: row;
            justify-content: center;
        }
    }
}
.grid {
    @include media-breakpoint-up(lg) {
        display: grid;
        gap: 0;
        justify-content: center;
        grid-template-columns: repeat(4, 220px);
        grid-auto-rows: 220px;
    }
    @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(4, 294px);
        grid-auto-rows: 294px;
    }
    @include media-breakpoint-down(lg) {
        display: flex;
        flex-flow: wrap row;
    }
        &-pyramid {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }
            .box-grid {
                position: relative;
                overflow: hidden;
                @include media-breakpoint-down(lg) {
                    width: 33%;
                }
                @include media-breakpoint-down(md) {
                    margin-bottom: 15px;
                    width: 100%;
                }
                &:nth-child(1) {
                    grid-column: 1; 
                    grid-row: 3;
                    @include media-breakpoint-up(lg) {
                        top: -150px;
                    }
                }
                &:nth-child(2) {
                    grid-column: 2; 
                    grid-row: 2;
                }
                &:nth-child(3) {
                    grid-column: 2; 
                    grid-row: 3;
                }
                &:nth-child(4) {
                    grid-column: 3; 
                    grid-row: 1;
                }
                &:nth-child(5) {
                    grid-column: 3; 
                    grid-row: 2;
                }
                &:nth-child(6) {
                    grid-column: 3; 
                    grid-row: 3;
                }
                &:nth-child(7) {
                    grid-column: 4; 
                    grid-row: 3;
                    @include media-breakpoint-up(lg) {
                        top: -150px;
                    }
                }
                &:nth-child(8) {
                    grid-column: 4; 
                    grid-row: 2;
                    @include media-breakpoint-up(lg) {
                        top: -150px;
                    }
                }
                .profile-info {
                    bottom: calc(130% * (-1));
                    padding: 0 26px;
                    position: absolute;
                    text-align: center;
                    transition: all ease-in-out .25s;
                    @include media-breakpoint-down(lg) {
                        bottom: 0 !important;
                        padding: 0 2px;
                    }
                    @include media-breakpoint-down(md) {
                        bottom: 0 !important;
                        padding: 0 2px;
                        width: 100%;
                    }
                    strong {
                        color: #fff;
                        @include font-size(16);
                        @include roboto(600);
                        line-height: 1.5rem;
                    }
                    span {
                        display: block;
                        color: #fff;
                        @include font-size(16);
                        @include roboto(300);
                        line-height: 1.5rem;
                    }
                    hr {
                        border-top: 1px solid #fff;
                        margin: 10px 0;
                    }
                    p {
                        @extend %subtleText;
                        @include font-size(14);
                        @include roboto(400);
                    }
                    a {
                        @extend %subtleText;
                        transition: all linear .15s;
                        &:hover,&:focus {
                            opacity: .9;
                        }
                    }
                }
                img {
                    @include media-breakpoint-down(xl) {
                        display: block;
                        width: 100%;
                    }
                }
                &:hover, &:focus {
                    .profile-info {
                        bottom: 0;
                    }
                }
            }
        }
}
.ring-outline {
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
}
.btn-outline-secondary {
    font-style: italic;
}