$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "bootstrap-icons/font/bootstrap-icons";
.lato{
  font-family: "Lato", sans-serif;
    &-thin{
        font-weight: 100;
        font-style: normal;
        &-italic{
            font-style: italic;
        }
    }
    &-light {
        font-weight: 300;
        font-style: normal;
        &-italic{
            font-style: italic;
        }
    }
    &-regular {
        font-weight: 400;
        font-style: normal;
        &-italic{
            font-style: italic;
        }
    }
    &-bold {
        font-weight: 700;
        font-style: normal;
        &-italic{
            font-style: italic;
        }
    }
    &-black {
        font-weight: 900;
        font-style: normal;
        &-italic{
            font-style: italic;
        }
    }
}
.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
@mixin roboto($WEIGHT){
    @extend .roboto;
    font-weight: $WEIGHT;
}
@mixin font-size($value, $line: false) {
      font-size: pxToRem($value)+rem;
      @if($line) {
        line-height: (pxToRem($value)*2.1)+rem;
      }
}
%subtleText {
    color: #fff;
    opacity: .5;
}