@import "reset";
@import "functions";
@import "bootstrap/scss/bootstrap";
@import "charts.css";
@import "variables";
@import "fonts";

@import "components/components";
@import "pages/pages";


// Include functions first
@import "bootstrap/scss/functions";

body {
  @extend .roboto;
  @include media-breakpoint-down(xl) { 
    font-size: 14px;
   }
  @include media-breakpoint-up(xl) { 
    font-size: 16px;
   }
}

