$base-cyan: #0099BB;
$base-orange: #F23314;
$base-grey: #333333;

$lighten-cyan-1: #02a9ce;
$lighten-cyan-2: #02bde7;
$lighten-cyan-3: #04d0fd;
$lighten-cyan-4: #3CD8FA;
$lighten-cyan-5: #6BE2FD;
$lighten-cyan-7: #C5F5FF;

$lighten-orange-1: #f55c43;
$lighten-orange-2: #f78572;
$lighten-orange-3: #faada1;
$lighten-orange-4: #fcd6d0;
$lighten-orange-5: #feebe8;
$lighten-orange-6: #fef4f3;

$lighten-black-1: #0a0a0a;
$lighten-black-2: #141414;
$lighten-black-3: #1f1f1f;
$lighten-black-4: #292929;
$lighten-black-5: #333333;
$lighten-black-6: #3d3d3d;
$lighten-black-7: #474747;
$lighten-black-8: #525252;
$lighten-black-9: #5c5c5c;
$lighten-black-10: #666666;
$lighten-black-11: #707070;
$lighten-black-12: #7a7a7a;

$lighten-grey-1: #858585;
$lighten-grey-2: #8f8f8f;
$lighten-grey-3: #999999;
$lighten-grey-4: #a3a3a3;
$lighten-grey-5: #adadad;
$lighten-grey-6: #b8b8b8;
$lighten-grey-7: #c2c2c2;
$lighten-grey-8: #cccccc;
$lighten-grey-9: #d6d6d6;
$lighten-grey-10: #e0e0e0;
$lighten-grey-11: #ebebeb;
$lighten-grey-12: #f5f5f5;

$backgraund-cyan: $base-cyan;